@import "../../styles//mixins.scss";

.graydes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include laptop {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    @include tablet {
        grid-template-columns: 1fr;
        margin-bottom: 60px;
    }

    @include mobile {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }


    .graydes-img {
        width: 100%;

        .graydes-tablet {
            display: none;

            @include laptop {
                display: block;
            }
        }

        img {
            width: 100%;
            display: block;

            @include laptop {
                display: none;
            }
        }
    }

    .graydes-info {
        max-width: 610px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include laptop {
            width: 94%;
        }

        .graydes-logo {
            width: 300px;
            padding-bottom: 20px;

            @include laptop {
                width: 220px;
                margin: auto;
            }

            @include tablet {
                padding-top: 20px;
                width: 220px;
                margin: 28px auto;
            }

            @include mobile {
                padding-top: 20px;
                width: 180px;
                margin: 28px auto;
            }


        }

        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.6;

            @include laptop {
                width: 90%;
                margin: auto;
                line-height: 1.3;
            }

            @include mobile {
                width: 100%;
                padding: 30px;
                margin: auto;
                margin-top: -54px;
                margin-bottom: 20px;
            }
        }

        .strong-par {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 20px 0;

            @include laptop {
                width: 90%;
                margin: 20px auto;

            }

            @include mobile {
                width: 90%;
                padding: 30px;
                margin-top: -54px;
            }
        }

        i {
            font-size: 15px;

            @include laptop {
                width: 90%;
                margin: auto;
            }

            @include mobile {
                width: 90%;
                padding: 30px;
                margin-top: -54px;
                margin-bottom: 30px;
            }
        }
    }


}