.graydes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .graydes-img {
        width: 100%;

        img{
            width: 100%;
            display: block;
        }
    }

    .graydes-info {
        width: 610px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;


            .graydes-logo {
                width: 300px;
                padding-bottom: 20px;
            }
            p{  
                font-weight: 400;
                line-height: 1.6;
            }
    
            .strong-par {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin: 20px 0;
            }
        }

    
}