.graydes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .graydes-img {
        width: 100%;

        img{
            width: 100%;
            display: block;
        }
    }

    .graydes-info {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin: 80px auto;

        h1{
            text-align: center;
            font-size: 50px;
            margin-bottom: 10px;
        }
        p{
            font-weight: 400;
            line-height: 1.6;
        }

        .strong-par {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 20px 0;
        }
    }
}