.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .about-img {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .about-info {
    display: flex;
    width: 60%;
    margin: auto;
    p {
      font-weight: 400;
      line-height: 1.6;
    }
  }
}
