@import "../../styles/mixins.scss";

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #111;
    color: #fff;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

    @include mobile {
        padding: 24px 36px;
    }

    p {
        font-size: 1rem;
        font-weight: 300;

        @include mobile {
            font-size: 0.9rem;
            margin-right: 20px;
            padding: 4px;
        }
    }
}

.cookie-banner a {
    color: rgb(155, 154, 154);
}

.actions button {
    margin-left: 8px;
    width: 90px;
    height: 30px;
    border: none;
    cursor: pointer;

    @include mobile {
        margin-bottom: 5px;
    }
}

.accept {
    background: white;
    color: black;
}

.reject {
    background: #444;
    color: white;
}