.latest-project-container {
  width: 100%;
  .grid-latest {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .latest-image {
      overflow: hidden;
      img {
        width: 100%;
        display: block;
        filter: grayscale(100%);
        transition: transform 1s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .latest-project {
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover h1 {
        transform: scale(1.1);
      }

      h1 {
        font-size: 70px;
        font-weight: 100;
        transition: transform 1s ease;
      }
    }
  }
}
