.latest-project-container {
    width: 100%;
    .grid-latest{
        display: grid;
        grid-template-columns: 1fr 1fr;

        img{
            width: 100%;
            display: block;
            filter: grayscale(100%);
        }

        .latest-project {
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            h1{
                font-size: 60px;
                font-weight: 500;
            }
        }

    }

}