@import "../../styles/mixins.scss";

.latest-project-container {
  width: 100%;

  .grid-latest {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas:
        "latest-project"
        "latest-image";
    }

    .latest-image {
      overflow: hidden;

      @include mobile {
        grid-area: latest-image;
      }

      img {
        width: 100%;
        display: block;
        filter: grayscale(100%);
        transition: transform 1s ease;


        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .latest-project {
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        height: 235px;
        grid-area: latest-project;
      }
    }


    &:hover h1 {
      transform: scale(1.1);
    }

    h1 {
      font-size: 65px;
      font-weight: 100;
      transition: transform 1s ease;
      margin-top: -1.1rem;

      @include desktop {
        font-size: 2.7rem;
      }

      @include laptop {
        font-size: 2.6rem;
      }

      @include tablet {
        font-size: 2.2rem;
      }

      @include mobile {
        font-size: 38px;
      }
    }
  }
}