.project-info-container {
  .cover-image {
    width: 100%;
    img {
      width: 100%;
      display: block;
    }
  }

  .info {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;

    h3{
        margin-right: auto;
        margin-bottom: 10px;
    }

    .info-details {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 10px;

      p{
        color: black;
        font-weight: bold;

        span {
          font-weight: 400;
        }
      }
    }

    .descriptions {
      display: flex;
      flex-direction: column;
      gap: 20px;
    
        p{
            line-height: 1.6;
            font-weight: bold;
        }
    }
  }
  .other-images {
    width: 100%;

    .other-image {
      width: 100%;
      img {
        width: 100%;
        display: block;
      }
    }
  }

  .next-project {
    width: 100%;
    background-color: black;
    padding: 20px;
    
    button {
      border: none;
      outline: none;
      background: transparent;
      color: white;
      font-family: "Roboto";
      cursor: pointer;
    }
  }
}
