@import "../../styles/mixins.scss";

.artworks-info-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    @include tablet {
        grid-template-columns: 1fr;
    }

    @include mobile {
        grid-template-columns: 1fr;
    }

}

.artworks-large-image-container {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.artworks-info {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @include tablet {
        margin-left: 30px;
    }

    @include mobile {
        margin-left: unset;
    }
}

.artworks-info-header {
    margin-bottom: 20px;


    @include tablet {
        order: 2;
        margin-left: 32px;
    }

    @include mobile {
        order: 2;
        margin-left: 32px;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-weight: 600;

        @include tablet {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 10px;
        }

        @include mobile {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }

    p {
        width: 75%;
        font-size: 1rem;
        line-height: 1.6;

        @include tablet {
            width: 91%;
        }

        @include mobile {
            width: 91%;
        }

    }
}

.artworks-info-details {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 20px;

    @include tablet {
        order: 3;
        margin-top: -20px;
        margin-left: 32px;
    }

    @include mobile {
        order: 3;
        margin-top: -20px;
        margin-left: 32px;
    }

    h3 {
        font-size: 1.3rem;
        margin-bottom: 20px;
        font-weight: 500;

        @include tablet {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 10px;
        }

        @include mobile {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }

    p {
        display: flex;
        gap: 3px;
        font-size: 16px;
        font-weight: 500;

        span {
            font-weight: 300;
        }
    }
}

.artworks-small-images-container {
    display: flex;
    gap: 10px;

    @include tablet {
        justify-content: center;
        gap: 6px;
    }

    @include mobile {
        justify-content: center;
        gap: 6px;
    }


}

.artwork-small-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.6s ease;
    border: 2px solid transparent;

    @include tablet {
        width: 85px;
        height: 85px;
        order: 1;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    @include mobile {
        width: 60px;
        height: 60px;
        order: 1;
        margin-top: 15px;
    }

    &:hover {
        opacity: 0.9;
    }

    &.active {
        opacity: 1;
        border-color: black;
    }
}

.next-artwork {
    border: none;
    outline: none;
    background: transparent;
    color: black;
    font-family: "Roboto";
    font-size: 2.5rem;
    font-weight: 100;
    cursor: pointer;
    margin-right: auto;
    margin-top: 5px;


    @include tablet {
        order: 4;
        font-size: 1.5rem;
        margin: -20px auto 30px auto;
        font-weight: 200;
    }

    @include mobile {
        order: 4;
        font-size: 1.5rem;
        margin: -20px auto 40px auto;
        font-weight: 300;
    }
}