.artworks-info-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin: 0 auto;
}

.artworks-large-image-container {
    width: 100%;

    img {
        width: 100%;
        display: block;
    }
}

.artworks-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.artworks-info-header {
    h2 {
        font-size: 24px;
    }

    p {
        width: 90%;
        font-size: 14px;
        line-height: 1.6;

    }
}

.artworks-info-details {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h3 {
        font-size: 18px;
    }

    p {
        display: flex;
        gap: 3px;
        font-size: 16px;
        font-weight: 500;

        span {
            font-weight: 300;
        }
    }
}

.artworks-small-images-container {
    display: flex;
    gap: 10px;
}

.artwork-small-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.6s ease;
    border: 2px solid transparent;

    &:hover {
        opacity: 0.9;
    }

    &.active {
        opacity: 1;
        border-color: black;
    }
}

.next-artwork {
    border: none;
    outline: none;
    background: transparent;
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}