.artworks-info-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.artworks-large-image-container {

    img {
        width: 100%;
        display: block;
    }
}

.artworks-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.artworks-info-header {
    h2 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    p {
        width: 90%;
        font-size: 14px;
        line-height: 1.6;

    }
}

.artworks-info-details {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h3 {
        margin-bottom: 12px;
        font-size: 18px;
    }

    p {
        display: flex;
        gap: 3px;
        font-size: 14px;
        font-weight: 500;

        span {
            font-weight: 300;
        }
    }
}

.artworks-small-images-container {
    display: flex;
    gap: 12px;
}

.artwork-small-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.6s ease;
    border: 2px solid transparent;

    &:hover {
        opacity: 0.9;
    }

    &.active {
        opacity: 1;
        border-color: black;
    }
}