.category-container {
    width: calc(100% - 20px);
    margin: 20px auto;

    .grid-category {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        gap: 20px;
    }
}