.terms-text {
    width: 600px;
    margin: 40px auto;

    h1 {
        text-align: center;
        padding-bottom: 20px;
    }

    .box-par {
        padding-bottom: 20px;
        a{
            color: gray;
        }
    }
}