.terms-text {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
    color: #333;
    line-height: 1.6;

    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        text-align: center;
        color: #111;
    }

    .terms-summary {
        text-align: center;
        font-style: italic;
        margin-bottom: 2rem;
        color: #555;
    }

    .box-par {
        background-color: #f9f9f9;
        border-left: 4px solid black;
        padding: 1rem 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 6px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

        h3 {
            font-size: 1.2rem;
            margin-bottom: 0.75rem;
            font-weight: 600;
            color: black;
        }

        p {
            font-size: 1rem;
            margin-bottom: 0.75rem;
            color: #444;
        }

        ul {
            list-style-type: disc;
            padding-left: 1.5rem;
            margin-bottom: 0.75rem;

            li {
                margin-bottom: 0.5rem;
                font-size: 1rem;
                color: #444;
            }
        }

        a {
            color: gray;
            text-decoration: underline;

            &:hover {
                color: #005fa3;
            }
        }
    }
}