@import "../../styles/mixins.scss";

.artworks-container {
    width: calc(100% - 20px);
    margin: auto;


    @include tablet {
        width: calc(100% - 10px);

    }

    @include mobile {
        width: 100%;
    }

    .artworks-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 10px;

        @include tablet {
            gap: 5px;
        }

        @include mobile {
            grid-template-columns: 1fr;
        }
    }
}