@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');

:root {
    --font-stack: "Roboto", sans-serif;

}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: var(--font-stack);
    margin: 0;
}

a {
    text-decoration: none;
}

