@import "../../styles/mixins.scss";

.contact-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // background-color: green;

    @include tablet {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }

    @include mobile {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }



    .contact-image {
        width: 100%;

        img {
            width: 100%;
            display: block;
        }
    }

    .contact-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;


        .contact-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;


            @include tablet {
                gap: unset;
            }

            h1 {
                font-size: 48px;
                font-weight: 100;

                @include laptop {
                    font-size: 2.2rem;
                    margin: -6px auto;
                    letter-spacing: 1.8px;
                }

                @include tablet {
                    font-size: 2.7rem;
                    margin: 40px auto;
                }

                @include mobile {
                    font-size: 29px;
                    margin: 20px auto;
                }
            }

            h3 {
                font-size: 28px;
                font-weight: 400;

                @include laptop {
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                @include tablet {
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin-top: -20px;
                }

                @include mobile {
                    font-size: 1.4rem;
                    margin-top: -10px;
                }
            }

            .address {
                font-size: 1rem;
                text-align: center;
                width: 100%;
                font-weight: 300;

                @include tablet {
                    font-size: 1.15rem;
                    margin-top: 10px;
                }

                @include mobile {
                    font-size: 1rem;
                    margin-top: 10px;
                }

                span {
                    display: inline;
                    margin: 3px;

                    @include mobile {
                        display: block;
                        margin-top: 5px;

                    }
                }

            }

            .telephone {
                letter-spacing: 1px;
                font-size: 1rem;
                font-weight: 500;
                color: black;

                @include tablet {
                    font-size: 1.2rem;
                    margin-top: 5px;
                    letter-spacing: 2px;

                }

                @include mobile {
                    font-size: 1.1rem;
                    letter-spacing: 1px;

                }
            }


            .map-directions {
                font-size: 32px;
                letter-spacing: 7px;

                @include laptop {
                    letter-spacing: 14.4px;
                    font-size: 1.1rem;
                }

                @include tablet {
                    letter-spacing: 14px;
                    font-size: 1.5rem;
                }

                @include mobile {
                    font-size: 0.9rem;
                    font-weight: 300;
                    letter-spacing: 7px;
                }
            }

        }

        .contact-form {
            padding-bottom: 20px;


            @include laptop {
                margin-top: 21px;
            }

            @include mobile {
                margin-bottom: 20px;
            }

            form {
                max-width: 600px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                @include laptop {
                    width: calc(100% - 40px);
                    margin: auto;
                }

                @include mobile {
                    width: calc(100% - 80px);
                    margin: auto;
                }

                input {
                    border: none;
                    outline: none;
                    border-bottom: 1px solid black;
                    padding: 10px;

                    &:focus {
                        border-bottom: 2px solid black;
                    }
                }

                textarea {
                    min-height: 100px;
                    resize: vertical;
                    padding: 10px;
                    font-family: "Roboto";
                    margin-top: 20px;
                }

                .terms-container {
                    height: 20px;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 14px;
                        padding-left: 20px;
                    }


                    a {
                        color: gray;
                    }


                }

                .form-button {
                    width: 140px;
                    padding: 8px;
                    margin: auto;
                    font-family: "Roboto";
                    border: none;
                    background-color: black;
                    color: white;
                    font-size: 14px;
                    cursor: pointer;
                    transition: background-color 1s ease;

                    &:hover {
                        background-color: lighten(black, 40%);

                    }
                }

                .error-message {
                    font-size: 14px;
                    font-weight: 500;
                    color: red;
                }

                .success-message {
                    font-size: 14px;
                    font-weight: 500;
                    color: black;
                }
            }
        }
    }
}