.contact-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .contact-image {
        width: 100%;

        img {
            width: 100%;
            display: block;
        }
    }

    .contact-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .contact-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-top: 50px;

            h1 {
                font-size: 60px;
                font-weight: 100;
                padding-bottom: 30px;
            }
            h3{
                font-size: 30px;
            }
            .map-directions {
                font-size: 40px;
            }

        }

        .contact-form {
            padding-top: 80px;
            form {
                width: 600px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    border: none;
                    outline: none;
                    border-bottom: 1px solid black;
                    padding: 10px;

                    &:focus {
                        border-bottom: 2px solid black;
                    }
                }

                textarea {
                    min-height: 100px;
                    resize: vertical;
                    padding: 10px;
                    font-family: "Roboto";
                    margin-top: 20px;
                }

                .terms-container {
                    height: 20px;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 14px;
                        padding-left: 20px;
                    }
                        
                    
                    
                    
                    
                }

                .form-button {
                    width: 140px;
                    padding: 8px;
                    margin:auto;
                    font-family: "Roboto";
                    border:none;
                    background-color: black;
                    color: white;
                    font-size: 14px;
                    cursor: pointer;
                    transition: background-color 1s ease;
                    &:hover {
                        background-color: lighten(black,40%);

                    }
                }
            }
        }
    }
}