.home-container {
  display: flex;
  flex-direction: column;
  gap: 80px;

  .main-banner,
  .home-banner {
    width: 100%;

    img {
      width: 100%;
      display: block;
    }
  }

  .main-categories {
    .main-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .main-category {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    display: block;
    transition: transform 1s ease;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;

    .logo-overlay {
      max-width: 45%;
      max-height: 45%;
      opacity: 0;
      transform: scale(0.95);
      transition: opacity 1s ease, transform 1s ease;
    }
  }

  &:hover {
    img {
      transform: scale(1.05);
    }

    .overlay {
      opacity: 1;

      .logo-overlay {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

  }

  .sub-categories {
    width: 100%;

    h3 {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .sub-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .sub-category {
        .sub-image {
          overflow: hidden;

          img {
            width: 100%;
            display: block;
            transition: transform 1s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        p {
          text-align: center;
          margin-top: 4px;
          color: black;
        }
      }
    }
  }

  .logofolio {
    width: 100%;

    h3 {
      color: black;
      text-align: center;
      font-size: 30px;
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}
