.project-card-container {
    .img-project-container {
            width:100%;

        img {
            width: 100%;
            display: block;
        }
    }
    p{
        color: black;
        font-size: 16px;
        font-weight: 500;
        margin-top: 4px;
    }

}