.project-card-container {
    .img-project-container {
        width: 400px;

        img {
            width: 100%;
        }
    }
    p{
        color: black;
        font-size: 16px;
        font-weight: 500;
    }

}