.project-card-container {
  width: 100%;
}

.project-card {
  position: relative;
  display: block;
  overflow: hidden;
}

.project-card-image {
  img {
    width: 100%;
    display: block;
    transition: transform 1s ease;
  }
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1)
  );

  display: flex;
  align-items: center;
  padding-left: 16px;

  transform: translateY(100%);
  transition: transform 1s ease;
  pointer-events: none;
}

.project-name {
  color: white;
  font-size: 16px;
}

.project-card:hover {
  .project-card-image img {
    transform: scale(1.05);
  }

  .overlay {
    transform: translateY(0);
  }
}
