.navigation-wrapper {
  position: relative;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  .logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items:center;
    img{
      width: 350px;
    }
  }

  .favicon-logo img {
    width: 40px;
  }
}

/* HAMBURGER */
.menu-icon {
  width: 28px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1100;

  div {
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.5s ease;
  }

  &.open {
    .bar1 {
      transform: rotate(45deg) translate(6px, 6px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

/* MOBILE MENU */
.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 300px;
  background: #fff;
  list-style: none;
  padding: 20px;
  display: none;
  animation: slideNav 0.6s ease-in-out;

  &.open {
    display: block;
 
  }

  .menu-item {
    margin-bottom: 18px;

    .menu-link-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;
      cursor: pointer;

      a {
        font-size: 15px;
        color: black;
        text-decoration: none;
        transition: color 0.5s;

        &:hover {
          color: gray;
        }
      }

      .submenu-icon {
        transition: transform 0.3s ease;
      }

      .submenu-icon.open {
        transform: rotate(180deg);
      }
    }
  }
}

/* SUBMENU */
.has-submenu > .submenu {
  list-style: none;
  margin-top: 12px;
  padding-left: 20px;
  display: none;
}

.has-submenu.open > .submenu {
  display: block;
}

.submenu li {
  margin-bottom: 10px;

  a {
    font-size: 15px;
    color: black;
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: gray;
    }
  }
}

@keyframes slideNav {
  from {
    opacity:0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}