.navigation-wrapper {
  position: relative;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  .logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    img {
      width: 350px;
    }
  }

  .favicon-logo img {
    width: 40px;
  }
}

.menu-icon {
  width: 28px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1100;

  div {
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 1s ease;
  }

  &.open {
    .bar1 {
      transform: rotate(45deg) translate(4px, 4px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;
  padding: 20px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition:
    opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);


  a {
    color: black;
    font-size: 17px;
    font-weight: 500;
    transition: color 1s ease;

    &:hover {
      color: gray;
    }
  }

  &.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .menu-item {
    margin-bottom: 18px;

    .menu-link-wrapper {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;

      a.menu-link {
        font-size: 17px;
        font-weight: 500;
        color: black;
        transition: color 1s ease;

        &:hover {
          color: gray;
        }
      }
    }

    .submenu {
    position: absolute; 
    top: 40px;
    left: 0;
    width: 100%; 
    background-color: white;
    place-items: center;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.8s ease, transform 0.8s ease;
    padding: 10px 0;
    margin: auto;

      li {
        list-style: none;
        width: 160px;
        margin-left: 20px;

        a {
          font-size: 17px;
          color: black;
          font-weight: 500;
          padding: 10px 20px;
          display: block;
          transition: color 1s ease;
  
          &:hover {
            color: gray;
          }
        }
      }

    }

    &:hover>.submenu {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}