.navigation-wrapper {
  position: relative;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  .logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    img {
      width: 350px;
    }
  }

  .favicon-logo img {
    width: 40px;
  }
}

.menu-icon {
  width: 28px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1100;

  div {
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 1s ease;
  }

  &.open {
    .bar1 {
      transform: rotate(45deg) translate(4px, 4px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

.menu-drawer {
  position: fixed;
  top: 80px;
  left: 0;
  width: 260px;
  height: calc(100vh - 80px);
  background-color: white;
  overflow: hidden;

  transform: translateX(-100%);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;

  &.open {
    transform: translateX(0);
  }
}

.menu-panel,
.submenu-panel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-panel {
  left: 0;

  &.slide-left {
    transform: translateX(-100%);
  }
}


.submenu-panel {
  left: 100%;
  background-color: white;

  &.open {
    transform: translateX(-100%);
  }
}

.menu-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    font-size: 17px;
    font-weight: 500;
    color: black;
    transition: color 0.8s ease;

    &:hover {
      color: gray;
    }
  }
}

.submenu-arrow {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.submenu-header {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  margin-bottom: 10px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
  }
}

.submenu-panel li a {
  font-size: 17px;
  font-weight: 500;
  color: black;
  transition: color 0.8s ease;

  &:hover {
    color: gray;
  }
}

