@import "../../styles/mixins.scss";

.swiper-pagination-bullet {
  background-color: gray;
  opacity: 0.6;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  background-color: darkgray;
  opacity: 1;
}