.designs-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;

    .design-card-container {
        position: relative;
        transition: transform 1s ease;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }

        .logo-container {
            position: absolute;
            width: 90px;
            top: 50%;
            left: 50%;
            transition: transform 0.8s ease;

            img {
                width: 100%;
                display: block;
            }
        }


        &:hover .logo-container img {
            transform: scale(1.1);
            transition: transform 0.8s ease;
        }
    }

    .full-width-description {
        position: absolute;
        bottom: 20px;
        left: 20%;
        transform: translateX(-50%);
        width: 70%;
    }
}

.design-card-container:nth-child(1) .logo-container {
    transform: translate(30%, -50%);
}

.design-card-container:nth-child(2) .logo-container,
.design-card-container:nth-child(3) .logo-container,
.design-card-container:nth-child(4) .logo-container {
    transform: translate(-50%, -50%);
}

.design-card-container:nth-child(5) .logo-container {
    transform: translate(-120%, -50%);
}