.artworks-card-container {
    width:100%;

    .artwork-card {
        position: relative;
        display: block;
        overflow: hidden;
        .artwork-card-image {

            img{
                width: 100%;
                display: block;
                transition: transform 1s ease;
            }
        }

        .artwork-overlay {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.1)
            );

            display: flex;
            align-items: center;
            padding-left: 14px;
 
            transform: translateY(100%);
            transition: transform 1s ease;
            pointer-events: none;
            .artwork-name {
                color: white;
                font-size: 18px;
            }

            
        }
    }

    &:hover {
        .artwork-card-image img {
            transform: scale(1.05);
        }

        .artwork-overlay {
            transform: translateY(0);
        }
    }
}