.not-found {
  width: 400px;  
  height:800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  div{
    display: flex;
    flex-direction: column;
    gap: 20px;
      .error-image {
            width: 100%;
      }
  }


  .error-btn {
    width: 140px;
    padding: 8px;
    margin: auto;
    font-family: "Roboto";
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 1s ease;
    &:hover {
      background-color: lighten(black, 40%);
    }
  }
}
