@import "../../styles/mixins.scss";

.not-found {
  max-width: 400px;
  width: 100%;
  height: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mobile {
    width: calc(100% - 100px);
    height: 700px;
  }


  div {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .error-image {
      width: 100%;
    }
  }


  .error-btn {
    width: 140px;
    padding: 8px;
    margin: auto;
    font-family: "Roboto";
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 1s ease;

    &:hover {
      background-color: lighten(black, 40%);
    }
  }
}